<!DOCTYPE html>
<html>

<head>
{% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/flask.png') }}" type="image/x-icon">
        <link rel="icon" sizes="any" href="{{ url_for('static', filename='img/flask.png') }}">
<!--    adding css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock %}
{% endblock %}
</head>

<body>
{% block body %}
    <div class="wrapper">
        <div class="header">
        {% block header %}
            <a href="/" title="回到主页">
                <img src="{{ url_for('static', filename='img/favicon.ico') }}" width="50" height="50">
                <span>Reverse Image Search</span>
            </a>
        {% endblock %}
        </div>
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
        <!-- <div class="footer">
        {% block footer %}
        {% endblock %}
        </div> -->
    </div>
    {% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <!--safe filter so that message will not be escaped-->
                <script>alert("{{ message|safe }}");</script>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
</body>
</html>


<!--Template Inheritance-->
<!--block is used for overriding specific parts of a template-->
<!--Template to be extended, named base.html-->